body {
  background-color: black;
  background-image: url('images/background/star-citizen.jpg');
  width: 300px;
  text-align: center; 
  
}

.item, .ui.segment {
  color: white !important;
}

.item.active, .ui.segment, textarea {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ui.attached.tab.segment {
  visibility: none;
}

.ui.attached.tab.segment.active {
  visibility: visible;
}

